@model Product
<body style="margin-top:100px;">
    <form method="post">
        <input asp-for="Id" hidden/>
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2>Edit Product</h2>
                <hr />
            </div>

            <div class="mb-3 row p-1">
                <label class="p-0" asp-for="Name"></label>
                <input asp-for="Name" type="text" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label class="p-0" asp-for="Description"></label>
                <textarea asp-for="Description" type="text" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="mb-3 row p-1">
                <label class="p-0" asp-for="Price"></label>
                <input asp-for="Price" type="text" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">
                        Update
                    </button>
                </div>
                @*col-md-3 means that if screen is smaller than medium it will take 3 columns else it will take 6 column*@
                <div class="col-6 col-md-3">
                    <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">
                        Back To List
                    </a>
                </div>


            </div>

        </div>
    </form>
</body>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}