@{
    ViewData["Title"] = "Home Page";
}


<body>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="z-index:1020; position:relative; margin-top:300px;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/gold1.jpg" class="d-block w-100 " style="height:300px;"alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/maplegold.webp" class="d-block w-100" style="height:300px;" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/img/gold1.jpg" class="d-block w-100" style="height:300px;" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div style="height:30px;"></div>


    <section class="hidden" style="background-color:lightgray; height:80px; padding-top:200px; display:block;">
        <h1>Customer Service HOTLINE: +6017-228-3278 </h1>
        <p>
            Call, WhatsApp or SMS during business hours: 10:00 a.m. – 6:00 p.m. (Mon – Sat)

        </p>
</section>

<section>
    <div class="logos">
        <div class="logo hidden">
                <img src="~/img/pamp.png" class="d-block w-30" />
        </div>
            <div class="logo hidden">
                <img src="~/img/rcm.svg" class="d-block w-30" />
            </div>
           <div class="logo hidden">
                <img src="~/img/pamp.png" class="d-block w-30" />
        </div>
    </div>
</section>
    <div class="container text-center">
        <h3>What We Do</h3><br>
        <div class="row">
            <div class="col-sm-4">
                <img src="~/img/pamp.png" class="img-responsive" style="width:100%" alt="Image">
                <p>Current Project</p>
            </div>
            <div class="col-sm-4">
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
                <p>Project 2</p>
            </div>
            <div class="col-sm-4">
                <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
                <p>Project 2</p>
            </div>
            <div class="col-sm-4">
                <div class="well">
                    <p>Some text..</p>
                </div>
                <div class="well">
                    <p>Some text..</p>
                </div>
            </div>
        </div>
    </div>
    <br>

<section class="hidden">
    <h2>Buy my product</h2>
    <p>
        The things that you own end up owning you
        It is only after you lose everything that you free to do anything
    </p>
</section>
<section class="hidden">
    <h2>It's really good'</h2>
</section>
</body>

@section Styles {
    <link rel="stylesheet" href="~/css/Homepg.css" asp-append-version="true">
}
@section Scripts {
    <script defer src="~/js/Homepg.js" asp-append-version="true"></script>
}