.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]nyCPU/
[Bb]in/
[Oo]bj/
[Ll]ogs/
project.lock.json
project.fragment.lock.json
artifacts/
**/project.assets.json
**/*.csproj.nuget.dgspec.json
**/*.csproj.nuget.g.props
**/*.csproj.nuget.g.targets
**/global.json
**/*.csproj.user
**/*.user
**/*.suo