@model fyp.Models.ViewModels.ProductVM
<body style="margin-top:100px;">
<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
                <h2>@(Model.Product.Id != 0? "Update": "Create") Product</h2>
                <hr />
        </div>
                 <input asp-for="Product.Id" hidden />
                 <input asp-for="Product.ImageUrl" hidden />

                 <div class="row">
                     <div class="col-10">
                    <div class="mb-3 row p-1">
                        <label class="p-0" asp-for="Product.Name"></label>
                        <input asp-for="Product.Name" type="text" class="form-control" />
                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3 row p-1">
                        <label class="p-0" asp-for="Product.Description"></label>
                        <textarea asp-for="Product.Description" class="form-control"></textarea>
                    </div>
                    <div class="mb-3 row p-1">
                        <label class="p-0" asp-for="Product.Price"></label>
                        <input asp-for="Product.Price" type="text" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                    <div class="mb-3 row p-1">
                        <label class="p-0" asp-for="Product.CategoryId"></label>
                        <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" type="text" class="form-select">
                            <option disabled selected>==Select Category==</option>
                        </select>
                        <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                    </div>

                    <div class="mb-3 row p-1">
                        <label class="p-0" asp-for="Product.ImageUrl"></label>
                        <input type="file" name="file" class="form-control" />
                    </div>

                    <div class="row">
                        <div class="col-6 col-md-3">
                            @if (Model.Product.Id != 0)
                            {
                                <button type="submit" class="btn btn-primary form-control">
                                    Update
                                </button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary form-control">
                                    Create
                                </button>
                            }

                        </div>
                        @*col-md-3 means that if screen is smaller than medium it will take 3 columns else it will take 6 column*@
                        <div class="col-6 col-md-3">
                            <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">
                                Back To List
                            </a>
                        </div>


                    </div>

                </div>
                     <div class="col-2">
                         <img src="@Model.Product.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
                     
                 </div>
           
    
</form>
</body>

 @section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
     @{
         <partial name="_ValidationScriptsPartial"/>
     }
 }