@using fyp.Utility

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BullionTrade</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="css/mdb.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/fyp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" asp-append-version="true">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css" />
    <style>
        body, html {
            height: 100%; /* Needed to make the height of the page full screen */
            margin: 0;
            display: flex;
            flex-direction: column; /* Makes the main axis vertical */
        }

        .content {
            flex: 1; /* Allows this div to expand to fill available space */
        }
    </style>
</head>
<body>
    @*
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow ">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/BullionTrade.webp" width="80px;" height="75px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                   <ul class="navbar-nav me-auto"> 
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                     
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">Manage Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="GoldPrice" asp-action="Index">Real Gold Price</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Product">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="PredictedPrice" asp-action="Index">Get Predicted Price</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Selling">Sell</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="IndexArticle">Read Article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index">
                                <i class="bi bi-cart"></i> &nbsp; 
                                </a>
                        </li>
                        @if(User.IsInRole(SD.Role_Admin))
                        {
                        <li class="nav-item dropdown" style="float:right !important;">

                            <a class="nav-link dropdown-toggle text-white-50" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Content Management
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index" style="color:black;">Category</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index" style="color:black;">Product</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="AppointmentSlot" asp-action="Index" style="color:black;">Appointment Slot</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="AdminSelling" asp-action="Index" style="color:black;">Customer Appointment</a></li>
                                <li><a class="dropdown-item" asp-area="Admin" asp-controller="Article" asp-action="Index" style="color:black;">Article Management</a></li>

                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register" style="color:black;">Create Admin</a></li>

                            </ul>
                        </li>
                        
                        }
                    <partial name="_LoginPartial" />
                    
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    *@

    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/BullionTrade.webp" width="80px;" height="75px;" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">Manage Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="GoldPrice" asp-action="Index">Real Gold Price</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Product">Product</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="PredictedPrice" asp-action="Index">Get Predicted Price</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Selling">Sell</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="IndexArticle">Read Article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="ShoppingCart" asp-action="Index">
                                <i class="bi bi-cart"></i> &nbsp;
                            </a>
                        </li>
                        @if (User.IsInRole(SD.Role_Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-white-50" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Content Management
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Category" asp-action="Index" style="color:black;">Category</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="Index" style="color:black;">Product</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="AppointmentSlot" asp-action="Index" style="color:black;">Appointment Slot</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="AdminSelling" asp-action="Index" style="color:black;">Customer Appointment</a></li>
                                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Article" asp-action="Index" style="color:black;">Article Management</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register" style="color:black;">Create Admin</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                  @*  <ul class="navbar-nav">*@
                      @*  <li class="nav-item">*@
                            <partial name="_LoginPartial" />
                        
                      
                   
                </div>
            </div>
        </nav>
    </header>


   
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>
    @*
    <footer class="border-top footer bg-primary text-muted">
        <div class="container text-white">
            &copy; 2024 - BullionTrade - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    *@

    <footer class="bg-dark text-white mt-auto py-3">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <p ><a asp-area="Customer" asp-controller="Home" asp-action="Index" style="color:white; text-decoration:none">Home</a> | 
                        <a asp-area="Customer" asp-controller="Home" asp-action="Product" style="color:white; text-decoration:none">Product</a> |
                        <a asp-area="Customer" asp-controller="Home" asp-action="Selling" style="color:white; text-decoration:none">Sell Your Gold</a> |
                        <a asp-area="Customer" asp-controller="Home" asp-action="IndexArticle" style="color:white; text-decoration:none">Article</a>

                       
                    </p>
                    <p>© 2024 BullionTrade, Inc</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="//cdn.datatables.net/2.0.8/js/dataTables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tiny.cloud/1/7fvpihmkj93v8m1722c7k0qgfr659oku66pfkgpsdlsdqajh/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    @await RenderSectionAsync("Scripts", required: false)
    @RenderSection("Styles", required: false)
</body>
</html>
