
<body style="margin-top:100px;">
    <div class="container">
        <div class="row pt-4 pb-3">
            <div class="col-6">
                <h2>Order List</h2>
            </div>

           
        </div>
        <table id="myTable" class="table table-bordered table-stripped" style="width:100%">
            <thead>
                <tr>

                    <th>ID </th>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Total</th>
                    <th></th>

                </tr>
            </thead>
            
             
        </table>
    </div>
</body>
@section Scripts {
    <script src="~/js/order.js"></script>
}