<body style="margin-top:100px;">
    @{
        ViewData["Title"] = "Gold Price Prediction";
    }

    <h1>Gold Price Prediction</h1>
    <p>
        Click the link below to view the gold price predictions for the next 100 days:
    </p>
    <a href="http://localhost:5000/predict" target="_blank">View Predictions</a>
</body>