@model int
<body style="margin-top:100px;">
<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1>Order placed successfully</h1>
        Your Order id is @Model <br/>
    </div>
</div>
</body>