@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<body style="margin-top:150px;">
<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
</body>