@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model decimal
<body style="margin-top:100px;">
<h1>Latest Intraday Gold Price</h1>
<p>The latest intraday price of gold is @Model USD per ounce.</p>
</body>

