@model Article
<body style="margin-top:100px;">
    <form method="post">
        <input asp-for="Id" hidden />
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2>Delete Article</h2>
                <hr />
            </div>
            <div class="row">
                <div class="col-10">
            <div class="mb-3 row p-1">
                <label class="p-0" asp-for="Title"></label>
                <input asp-for="Title" type="text" class="form-control" disabled />
            </div>
            <div class="mb-3 row p-1">
              @*  <label class="p-0" asp-for="Content"></label>*@
               @* <input asp-for="@Html.Raw(Model.Content)" type="text" class="form-control" disabled />*@
                <p class="text-secondary lh-sm">@Html.Raw(Model.Content)</p>
            </div>
            <div class="mb-3 row p-1">
                <label class="p-0" asp-for="Author"></label>
                <input asp-for="Author" type="text" class="form-control" disabled />
            </div>
            <div class="mb-3 row p-1">
                <label class="p-0" asp-for="DateCreated"></label>
                <input asp-for="DateCreated" type="text" class="form-control" disabled />
            </div>
            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">
                        Delete
                    </button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Article" asp-action="Index" class="btn btn-outline-secondary form-control">
                        Back To List
                    </a>
                </div>


            </div>
            </div>
            
            <div class="col-2">
                <img src="@Model.ImageUrl" width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />

            </div>
           
    </form>
</body>
